footer {
	width: 100%;
	// background: $basicColor1;
	// border-top: 1px solid #333;
	// background: #efe5e4;
	.inner {
		@include innerWid;
		.wrap {
			display: flex;
			justify-content: center;
			width: 100%;
			padding: 120px 0 80px;
			@include clear;
			article {
				float: left;
				width: calc((100% - 240px) / 3);
				margin-right: 120px;
				text-align: center;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: block;
					line-height: 40px;
					padding: 20px 0;
					&:last-child {
						margin-right: 0;
					}
					.svg-inline--fa {
						font-size: 40px;
						color: #333;
					}
				}
				span {
					display: block;
					letter-spacing: 1px;
					color: #666;
					font-family: $contentFont;
					font-weight: 500;
				}
			}
		}
	}
	.ft_txt {
		width: 100%;
		text-align: center;
		font-family: 'Montserrat';
		font-size: 12px;
		letter-spacing: 1px;
		span {
			display: block;
			padding: 10px 0;
		}
		p {
			display: block;
			padding: 10px 1px;
			background: #f8f8f8;
		}
	}
}

@media screen and (max-width: $tablet) {
	footer {
		.inner {
			width: 100%;
			padding: 0 50px;
			.wrap {
				article {
					float: left;
					width: calc((100% - 160px) / 3);
					margin-right: 80px;
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	footer {
		.inner {
			width: 100%;
			padding: 0 30px;
			.wrap {
				article {
					float: left;
					width: calc(100% / 3);
					margin-right: 60px;
					a {
						.svg-inline--fa {
							font-size: 40px;
						}
					}
					span {
						font-size: 14px;
					}
				}
			}
		}
	}
}
