.content {
	color: #333;
	background: $bgMain;
	padding: 60px 0 180px;
	.sub_con {
		> h1 {
			font: bold 60px/1 $titleFont;
			margin-bottom: 150px;
			background: $bgSub;
			color: #fff;
			padding: 50px 0;
			text-align: center;
			letter-spacing: 2px;
		}
		> .inner {
			position: relative;
			@include innerWid;
			min-height: 400px;
			opacity: 0;
			transition-property: transform, opacity;
			transition-duration: 1s;
			transform: translateY(100px);
		}
	}
	&.on {
		figure {
			opacity: 1;
		}
		.inner {
			opacity: 1;
			transform: translateX(0px);
		}
	}
}

@media screen and (max-width: $tablet) {
	.content {
		padding: 60px 0 100px;
		.sub_con {
			> h1 {
				font: bold 40px/1 'Poppins';
				padding: 20px 0;
				margin-bottom: 0;
			}
			> .inner {
				width: 100%;
				padding: 100px 50px;
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.content {
		// padding: 50px 0;
		.sub_con {
			> .inner {
				width: 100%;
				padding: 100px 30px;
			}
		}
	}
}
