.modal {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	padding: 7vh 5vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	.con {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;
		padding-bottom: 56.25%;

		video,
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			border: none;
			@include imgFit;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	// #pic {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	padding-bottom: 0;
	// }
	.close {
		font: bold 30px/1 'arial';
		color: #fff;
		position: absolute;
		top: 4vh;
		right: 2vw;
		cursor: pointer;
	}
}
.video {
	.video_con {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: relative;
		padding-bottom: 56.25%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
@media screen and (max-width: $mobile) {
	.modal {
		.close {
			font: bold 50px/1 'arial';
			color: #fff;
			position: absolute;
			top: 15vh;
			right: 45vw;
			cursor: pointer;
		}
	}
}
