@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li,
ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}
.hide {
	position: absolute;
	top: -9999px;
	opacity: 0;
}
body {
	position: relative;
	&::before {
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		display: none;
	}
	&.on::before {
		display: block;
	}
}
fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}
input[type='checkbox'],
input[type='radio'] {
	margin-right: 5px;
	margin-left: 15px;
	&:first-child {
		margin-left: 0;
	}
}
// textarea,
// input {
// 	border-radius: 0;
// 	-webkit-border-radius: 0;
// 	-moz-border-radius: 0;
// }
select::-ms-expand {
	display: none;
}

input[type='submit'],
input[type='reset'],
input[type='text'],
input[type='password'],
input[type='email'],
textarea,
button,
select {
	border: none;
	outline: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
