@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li,
ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #666;
}
.hide {
	position: absolute;
	top: -9999px;
	opacity: 0;
}
fieldset {
	border: none;
}
table {
	border-collapse: collapse;
}
input[type='checkbox'],
input[type='radio'] {
	margin-right: 5px;
	margin-left: 15px;
	&:first-child {
		margin-left: 0;
	}
}
textarea,
// select {
// 	appearance: none;
// 	-moz-appearance: none;
// 	-webkit-appearance: none;
// 	border: none;
// 	border-radius: 0;
// 	-webkit-border-radius: 0;
// 	-moz-border-radius: 0;
// }
input {
	border: none;
	outline: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
// select::-ms-expand {
// 	display: none;
// }
