.scroll_navi {
	position: fixed;
	right: 5vw;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 20px;
	z-index: 5;
	li {
		width: 10px;
		height: 10px;
		background: #bbb;
		border-radius: 15px;
		transition: height 0.5s, background 0.5s;
		cursor: pointer;
		&.on {
			height: 100px;
			background: #333;
		}
	}
}

@media screen and (max-width: $mobile) {
	.scroll_navi {
		display: none;
	}
}
