#pics {
	width: 100%;
	height: auto;
	background: #fefbf4;
	position: relative;
	overflow: hidden;
	// border-bottom: 1px solid #333;
	> .inner {
		position: relative;
		@include innerWid;
		height: 100%;
		border-top: 1px solid #333;
		padding: 10vw 0;
		.title {
			text-align: left;
			// background: #445870;
			// color: #fff;
			margin-bottom: 70px;
			h1 {
				// font: 35px/1.2 $titleFont;
				margin-bottom: 20px;
				font: 35px/1.2 $StrongFont;
				// padding: 20px 0;
			}
			.controls_box {
				display: flex;
				align-items: flex-end;
				span {
					margin-right: 130px;
					font: 14px/1 $contentFont;
				}
				.controls {
					display: flex;
					gap: 15px;
					font-size: 15px;
					color: #445870;
					z-index: 10;
					svg {
						cursor: pointer;
						opacity: 0.5;
						transform: scale(1);
						transition: opacity 0.5, transform 0.5s;
						&.on {
							opacity: 1;
							transform: scale(1.5);
						}
					}
				}
			}
		}

		.swiper {
			padding: 7vw 0;
			// background: #fff;
			// border: 1px solid #333;
			.swiper-slide {
				width: 100%;
				margin-right: 0;
				.inner {
					width: 100%;
					height: 100%;
					// background: #eee;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-content: flex-start;
					color: #333;
					// padding: 20px;
					opacity: 0.5;
					overflow: hidden;
					// border: 1px solid #333;
					transform: scale(0.8);
					border-radius: 150px 150px 0 0;
					transition: opacity 0.5, transform 0.5s;
					// box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.2);
					.pic {
						width: 100%;
						height: 350px;
						transition: filter 0.5s, transform 0.5s;
						filter: saturate(30%) brightness(70%);
						&:hover {
							filter: saturate(100%) brightness(100%);
							// transform: scale(1.2);
						}
						img {
							@include imgFit;
							border-radius: 150px 150px 0 0;
						}
					}
					.txt {
						padding: 20px;
						text-align: center;

						h2 {
							font: 30px/1.2 $StrongFont;
							width: 100%;
							margin-bottom: 30px;
							// font: normal 30px/1.2 $contentFont;
							color: #333;
							// margin-top: 15px;
							// writing-mode: vertical-lr;
							// padding: 35px;
							text-align: center;
							// vertical-align: middle;
						}
						a {
							border: 1px solid #333;
							display: block;
							width: 150px;
							padding: 10px;
							border-radius: 30px;
							background: transparent;
							font: 14px/1.5 $contentFont;
							// width: 100%;
							margin: 0 auto;

							// margin-top: 70px;
						}
					}
				}
			}
			.swiper-slide-active {
				.inner {
					opacity: 1;
					transform: scale(1);
					overflow: hidden;

					background: #445870;
					.txt {
						h2,
						a {
							color: #fff;
						}
						a {
							border: 1px solid #fff;
						}
					}
				}
			}
			.swiper-pagination {
				// bottom: 40px;
				.swiper-pagination-bullet {
					width: 10px;
					height: 10px;
					border-radius: 5px;
					transition: width 0.5s;
				}
				.swiper-pagination-bullet-active {
					background: #445870;
					width: 50px;
				}
			}
			.swiper-button-prev,
			.swiper-button-next {
				color: #445870;
				top: auto;
				left: 65%;
				bottom: 130px;
				transform: translateX(-50%) scale(0.7);
				// transform: scale(0.7);
				z-index: 2;
			}
			.swiper-button-prev {
				left: 35%;
				// right: 40px;
			}
		}
		// .pic {
		// 	position: relative;
		// 	display: flex;
		// 	flex-wrap: wrap;
		// 	align-content: center;
		// 	// width: 60%;
		// 	article {
		// 		width: calc((100% - 30px) / 2);
		// 		margin-right: 30px;
		// 		margin-bottom: 30px;
		// 		height: 250px;
		// 		&:nth-of-type(2n) {
		// 			margin-right: 0;
		// 		}
		// 		img {
		// 			@include imgFit;
		// 			filter: saturate(30%) brightness(80%);
		// 			transition: 0.5s;
		// 			&:hover {
		// 				filter: saturate(100%) brightness(100%);
		// 			}
		// 		}
		// 	}
		// }
	}
}

@media screen and (max-width: $tablet) {
	#pics {
		.inner {
			width: 100%;
			display: block;
			.title {
				h2 {
					margin-bottom: 30px;
				}
			}
			.pic {
				width: 100%;
				article {
					width: calc((100% - 60px) / 4);
					margin-right: 20px;
					margin-bottom: 30px;
					&:last-child {
						margin-right: 0;
					}
					&:nth-of-type(2) {
						margin-right: 20px;
					}
					img {
						@include imgFit;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	#pics {
		.inner {
			width: 100%;
			display: block;
			.title {
				h2 {
					margin-bottom: 30px;
				}
			}
			.pic {
				article {
					width: 100%;
					margin-right: 0;
					height: 100%;
					&:nth-of-type(2) {
						margin-right: 0;
					}
				}
			}
		}
	}
}
