#pics {
	width: 100%;
	height: auto;
	background: $bgSub;
	position: relative;
	overflow: hidden;
	> .inner {
		position: relative;
		padding: 10vw 10vw 20vw;
		width: 100%;
		height: 100%;
		.title {
			text-align: left;
			margin-bottom: 70px;
			color: #fff;
			h1 {
				margin-bottom: 20px;
				font: 35px/1.2 $StrongFont;
			}
			.controls_box {
				display: flex;
				align-items: flex-end;
				span {
					margin-right: 130px;
					font: 14px/1 $contentFont;
				}
				.controls {
					display: flex;
					gap: 15px;
					font-size: 15px;
					color: $bgSub;
					z-index: 10;
					svg {
						cursor: pointer;
						opacity: 0.5;
						transform: scale(1);
						color: #fff;
						transition: opacity 0.5, transform 0.5s;
						&.on {
							opacity: 1;
							transform: scale(1.5);
						}
					}
				}
			}
		}

		.swiper {
			.swiper-slide {
				width: 100%;
				margin-right: 0;
				.inner {
					width: 100%;
					height: 100%;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-content: flex-start;
					color: #333;
					opacity: 0.5;
					overflow: hidden;
					transform: scale(0.8);
					border-radius: 150px 150px 0 0;
					transition: opacity 0.5, transform 0.5s;
					.pic {
						width: 100%;
						height: 350px;
						transition: filter 0.5s, transform 0.5s;
						filter: saturate(30%) brightness(70%);
						&:hover {
							filter: saturate(100%) brightness(100%);
						}
						img {
							@include imgFit;
							border-radius: 150px 150px 0 0;
						}
					}
					.txt {
						padding: 20px;
						text-align: center;

						h2 {
							font: 30px/1.2 $StrongFont;
							width: 100%;
							margin-bottom: 30px;
							color: #fff;
							text-align: center;
							opacity: 0.5;
						}
						a {
							border: 1px solid #fff;
							display: block;
							width: 150px;
							padding: 10px;
							border-radius: 30px;
							background: transparent;
							font: 14px/1.5 $contentFont;
							margin: 0 auto;
							color: #fff;
							transition: background 0.5s;
							opacity: 0.5;
							&:hover {
								background: #fff;
								color: $bgSub;
							}
						}
					}
				}
			}
			.swiper-slide-active {
				.inner {
					opacity: 1;
					transform: scale(1);
					overflow: hidden;
					background: #445870;
					.pic {
						filter: saturate(1) brightness(100%);
					}
					.txt {
						h2,
						a {
							color: #fff;
							opacity: 1;
						}
						a {
							opacity: 1;
							border: 1px solid #fff;
						}
					}
				}
			}
			.swiper-pagination {
				// bottom: 40px;
				.swiper-pagination-bullet {
					width: 10px;
					height: 10px;
					border-radius: 5px;
					transition: width 0.5s;
				}
				.swiper-pagination-bullet-active {
					background: #445870;
					width: 50px;
				}
			}
			.swiper-button-prev,
			.swiper-button-next {
				color: #fff;
				top: auto;
				left: 65%;
				bottom: 50px;
				transform: translateX(-50%) scale(0.7);
				z-index: 2;
			}
			.swiper-button-prev {
				left: 35%;
				// right: 40px;
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#pics {
		> .inner {
			.swiper {
				.swiper-slide {
					.inner {
						border-radius: 300px 300px 0 0;
						.pic {
							height: 100vh;
						}
						.txt {
							width: 100%;

							h2 {
								font: 50px/1.2 $StrongFont;
							}
							a {
								font: 20px/1.5 $contentFont;
							}
						}
					}
				}
				.swiper-button-prev,
				.swiper-button-next {
					left: 98%;
				}
				.swiper-button-prev {
					left: 10px;
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	#pics {
		> .inner {
			padding: 20vw 5vw 20vw;
			.title {
				text-align: center;
				.controls_box {
					justify-content: center;
				}
			}
			.swiper {
				.swiper-slide {
					.inner {
						border-radius: 300px 300px 0 0;
						.pic {
							height: 70vh;
						}
						.txt {
							width: 100%;

							h2 {
								font: 30px/1.2 $StrongFont;
							}
							a {
								font: 14px/1.5 $contentFont;
							}
						}
					}
				}
				.swiper-button-prev,
				.swiper-button-next {
					left: 98%;
				}
				.swiper-button-prev {
					left: 10px;
				}
			}
		}
	}
}
