#vids {
	width: 100%;
	height: auto;
	background: #fefbf4;
	position: relative;
	padding: 10vw 10vw 20vw;
	> .inner {
		width: 100%;
		.title {
			text-align: right;
			// background: #445870;
			// color: #fff;
			margin-bottom: 70px;
			h1 {
				font: 35px/1.2 $StrongFont;
			}
			span {
				font: 14px/1 $contentFont;
			}
		}
		.vid_box {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			article {
				display: flex;
				justify-content: space-between;
				width: 49%;
				margin-bottom: 30px;
				border: 1px solid #aaa;
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				.pic {
					width: 100%;
					cursor: pointer;
					transition: 0.5s;
					filter: saturate(30%) brightness(80%);
					&:hover {
						filter: saturate(100%) brightness(100%);
					}
					img {
						@include imgFit;
					}
				}
				.txt {
					width: 100%;
					float: left;
					color: #333;
					margin-left: 20px;
					padding: 20px 10px;

					h3 {
						margin-bottom: 50px;
						font-weight: bold;
						font-size: 16px;
						margin-bottom: 20px;
						word-break: keep-all;
					}
					p {
						font-size: 14px;
						line-height: 1.5;
					}
					span {
						display: block;
						font: bold 12px/1 $contentFont;
						color: #445870;
						text-align: left;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#vids {
		> .inner {
			.vid_box {
				article {
					.txt {
						display: none;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	#vids {
		padding: 20vw 5vw 20vw;
		> .inner {
			.title {
				text-align: center;
			}
			.vid_box {
				article {
					width: 100%;
				}
			}
		}
	}
}
