#vids {
	width: 100%;
	height: auto;
	background: $bgMain;
	position: relative;
	padding: 10vw;
	> .inner {
		width: 100%;
		.title {
			text-align: right;
			margin-bottom: 70px;
			h1 {
				font: 35px/1.2 $StrongFont;
			}
			span {
				font: 14px/1 $contentFont;
			}
		}
		.vid_box {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			article {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: calc((100% - 30px) / 2);
				margin-right: 30px;
				margin-bottom: 30px;
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				.pic {
					width: 100%;
					height: 21vmax;
					cursor: pointer;
					transition: 0.5s;
					filter: saturate(30%) brightness(80%);
					&:hover {
						filter: saturate(100%) brightness(100%);
					}
					img {
						@include imgFit;
					}
				}
				.txt {
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid #eee;
					width: 100%;
					color: #333;
					padding: 20px 0 30px;

					h3 {
						word-break: keep-all;
						font: bold 16px/1.5 $contentFont;

						overflow: hidden;
						text-overflow: ellipsis;

						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
					p {
						font: 15px/1.5 $contentFont;
						color: #888;
						margin-left: 30px;
						word-break: keep-all;

						overflow: hidden;
						text-overflow: ellipsis;

						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#vids {
		> .inner {
			.title {
				h1 {
					font: 35px/1.2 $StrongFont;
				}
				span {
					font: 14px/1 $contentFont;
				}
			}
			.vid_box {
				flex-direction: column;
				article {
					width: 100%;
					margin-right: 0;
					.pic {
						width: 100%;
						height: 44vmax;
						img {
							@include imgFit;
						}
					}
					.txt {
						h3 {
							font: bold 14px/1.5 $contentFont;
						}
						p {
							font: 12px/1.5 $contentFont;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	#vids {
		> .inner {
			.title {
				h1 {
					font: 35px/1.2 $StrongFont;
				}
				span {
					font: 14px/1 $contentFont;
				}
			}
			.vid_box {
				article {
					.pic {
						height: 30vmax;
					}
				}
			}
		}
	}
}
