#visual {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	background: #efefef;
	.inner {
		width: 100%;
		height: 100%;
		display: flex;
		.list {
			flex: 1;
			height: 100%;
			overflow: hidden;
			position: relative;
			background: #efefef;
			border-right: 1px solid transparent;
			border-image: radial-gradient(#bbb 50%, transparent);
			border-image-slice: 1;
			transform: scale(1);
			opacity: 1;
			cursor: pointer;
			transition-property: opacity transform;
			transition-duration: 1s;

			&.off {
				opacity: 0.4;
				transform: scale(3);
			}

			&:last-child {
				border: none;
			}

			.pic {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				// left: 0;
				transition: opacity 0.5s;

				img {
					@include imgFit;
				}
			}

			.txt {
				display: flex;
				width: 100%;
				height: 300px;
				flex-wrap: wrap;
				justify-content: center;
				align-content: center;
				gap: 60px;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -100px;

				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 0%;
					background: rgba(0, 0, 0, 0.4);
					position: absolute;
					left: 0;
					top: 50%;
					transition-property: top height;
					transition-duration: 0.5s;
				}

				&::after {
					content: '';
					display: block;
					width: 0%;
					height: 1px;
					background: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					transition-property: left width;
					transition-duration: 0.5s;
				}

				h2 {
					width: 100%;
					font: normal 28px/1 $StrongFont;
					color: #555;
					text-align: center;
					transition: 0.5s;
					position: relative;
				}

				span {
					font: 12px/1 $contentFont;
					display: inline-block;
					padding: 8px 20px;
					cursor: pointer;
					transition: 0.5s;
					position: relative;
					border: 1px solid #fff;
					transform: translateY(100px);
					opacity: 0;
					transition-property: transform opacity;
					transition-duration: 0.5s;
				}
			}
		}
	}

	.list:hover {
		.pic {
			opacity: 1;
		}
		.txt {
			&::before {
				top: 0%;
				height: 100%;
			}
			&::after {
				width: 20%;
				left: 40%;
			}
			h2,
			span {
				color: #fff;
			}
			span {
				transform: translateY(0%);
				opacity: 1;

				&:hover {
					color: #333;
					background: #fff;
				}
			}
		}
	}
}

@media screen and (max-width: 789px) {
	#visual {
		display: block;
		padding-top: 20vh;
		padding-bottom: 100px;
		.inner {
			display: unset;
			.list {
				width: 100%;
				height: 20%;
				border-right: none;
				border-bottom: 1px solid #eee;

				&.off {
					opacity: 0.4;
					transform: scale(3);
				}

				.txt {
					width: 100%;
					height: 100%;
					gap: 30px;
					top: 0%;
					margin-top: -0px;

					h2 {
						font-size: 30px;
						transform: translateY(110%);
					}
					span {
						padding: 5px 10px;
						font-size: 14px;
						margin-top: 10px;
					}
				}
			}
		}

		.list:hover {
			.txt {
				h2 {
					transform: translateY(0%);
				}
			}
		}

		// .info {
		// 	transform: scale(0.8);
		// 	bottom: 15px;
		// 	transform-origin: left bottom;
		// 	gap: 10px;
		// }

		// .lan {
		// 	display: none;
		// }
		// .sns {
		// 	bottom: 20px;
		// 	li:nth-of-type(1) {
		// 		display: none;
		// 	}
		// }
	}
}
