$wid: 20vw;
$ht: 20vh;
$initPos: 25%;

#visual {
	> .inner {
		width: 100%;
		height: 100vh;
		background: #111;
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $bgMain;
		.list {
			li {
				width: $wid;
				height: $ht;
				overflow: hidden;
				position: absolute;
				bottom: 2%;
				left: 1vw;
				// left: $initPos;
				transition: 1s;
				z-index: 3;
				padding: 0 20px 0 0;
				opacity: 1;
				transform: scale(1);
				border-bottom: 1px solid #aaa;
				& > .inner {
					width: 100%;
					height: 100%;
					background: #333;
					box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
					overflow: hidden;
					transition: 1s;
					position: relative;
					&::before {
						position: absolute;
						top: 0;
						left: 0;
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.2);
						transition: 1s;
					}
					&:hover {
						&::before {
							position: absolute;
							top: 0;
							left: 0;
							content: '';
							display: block;
							width: 100%;
							height: 100%;
							background: rgba(0, 0, 0, 0.1);
						}
					}
					img {
						@include imgFit;
					}
					h2 {
						font: bold 16px/1 $contentFont;
						color: #f5f5f5;
						position: absolute;
						top: 40%;
						left: 19%;
						transition: 0.5s 0.5s;
						text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
						&::before {
							content: '';
							display: block;
							width: 20px;
							height: 3px;
							background: #f5f5f5;
							margin-bottom: 10px;
							transition: 0.5s;
						}
					}
				}
			}
			//순서별 li위치
			//기존 활성화되있다가 사라질 패널
			li:nth-of-type(1) {
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				padding: 0;
				opacity: 0;
				z-index: 1;
				transform: scale(2);
				.inner {
					box-shadow: none;
					border-radius: 0px;
					// transform: translateX(100%);
				}
			}

			//활성화될 패널
			li:nth-of-type(2) {
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				padding: 0;
				opacity: 1;
				z-index: 2;
				transform: scale(1);
				.inner {
					height: 76vh;
					background: #222;
					box-shadow: none;
					border-radius: 0px;
					// transform: translateX(0%);
					h2 {
						color: #fff;
						font-size: 8vw;

						&::before {
							background: #fff;
							height: 6px;
							width: 10vw;
							margin-bottom: 20px;
						}
					}
				}
			}

			//목록별 순버 패널 위치
			li:nth-of-type(3) {
				left: 1vw;
				// left: calc($initPos + $wid * 0);
				transition-delay: 0s;
			}
			li:nth-of-type(4) {
				left: $wid + 1vw;
				// left: calc($initPos + $wid * 1);
				transition-delay: 0.1s;
			}
			li:nth-of-type(5) {
				left: ($wid * 2)+ 1vw;
				// left: calc($initPos + $wid * 2);
				transition-delay: 0.2s;
			}
			li:nth-of-type(6) {
				left: ($wid * 3)+ 1vw;
				// left: calc($initPos + $wid * 3);
				transition-delay: 0.3s;
			}
			li:nth-of-type(7) {
				left: ($wid * 4)+ 1vw;
				// left: calc($initPos + $wid * 4);
				transition-delay: 0.4s;
			}
			li:nth-of-type(8) {
				left: ($wid * 5)+ 1vw;
				// left: calc($initPos + $wid * 5);
				transition-delay: 0.5s;
			}
		}

		.navi {
			position: absolute;
			left: 0;
			bottom: 27%;
			// left: $initPos;
			// top: calc(40% + $ht + 20px);
			z-index: 3;
			padding-left: 20px;

			//좌우 버튼 공통 스타일
			.prev,
			.next {
				display: inline-block;
				width: 55px;
				height: 55px;
				border-radius: 50%;
				border: 1px solid #fff;
				cursor: pointer;
				margin-right: 15px;
				position: relative;
				text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
				&::before,
				&::after {
					content: '';
					display: block;
					width: 17px;
					height: 2px;
					background: #fff;
					position: absolute;
					border-radius: 3px 3px 3px 3px;
					text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
				}
				&::before {
					top: 50%;
					transform: rotate(45deg) translateX(0px);
				}
				&::after {
					bottom: 48%;
					transform: rotate(-45deg) translateX(0px);
				}
				span {
					width: 20px;
					height: 2px;
					background: #fff;
					position: absolute;
					top: 49%;
					opacity: 1;
					border-radius: 3px 3px 3px 3px;
				}
				&.on {
					animation: wrap 0.3s 1;
					color: #fff;
				}
			}

			//좌우 방향에 따른 스타일
			.prev {
				&::before,
				&::after {
					left: 17px;
					transform-origin: left center;
				}
				span {
					left: 17px;
				}

				&.on {
					span {
						animation: prevArrow 0.2s 1;
					}
				}
			}

			.next {
				&::before,
				&::after {
					right: 17px;
					transform-origin: right center;
				}
				span {
					right: 17px;
				}
				&.on {
					span {
						animation: nextArrow 0.2s 1;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	$wid: 30vw;
	#visual {
		> .inner {
			.list {
				li {
					width: $wid;
					& > .inner {
						h2 {
							left: 5%;
						}
					}
				}
				li:nth-of-type(3) {
					left: 1vw;
					transition-delay: 0s;
				}
				li:nth-of-type(4) {
					left: $wid + 1vw;
					transition-delay: 0.1s;
				}
				li:nth-of-type(5) {
					left: ($wid * 2)+ 1vw;
					transition-delay: 0.2s;
				}
				li:nth-of-type(6) {
					left: ($wid * 3)+ 1vw;
					transition-delay: 0.3s;
				}
				li:nth-of-type(7) {
					left: ($wid * 4)+ 1vw;
					transition-delay: 0.4s;
				}
				li:nth-of-type(8) {
					left: ($wid * 5)+ 1vw;
					transition-delay: 0.5s;
				}
				// li:nth-of-type(3) {
				// 	left: calc($initPos + $wid * 0);
				// 	transition-delay: 0s;
				// }
				// li:nth-of-type(4) {
				// 	left: calc($initPos + $wid * 1);
				// 	transition-delay: 0.1s;
				// }
				// li:nth-of-type(5) {
				// 	left: calc($initPos + $wid * 2);
				// 	transition-delay: 0.2s;
				// }
				// li:nth-of-type(6) {
				// 	left: calc($initPos + $wid * 3);
				// 	transition-delay: 0.3s;
				// }
				// li:nth-of-type(7) {
				// 	left: calc($initPos + $wid * 4);
				// 	transition-delay: 0.4s;
				// }
				// li:nth-of-type(8) {
				// 	left: calc($initPos + $wid * 5);
				// 	transition-delay: 0.5s;
				// }
			}
		}
	}
}

@media screen and (max-width: 979px) {
	$wid: 40vw;
	$initPos: 35%;
	#visual {
		> .inner {
			.list {
				li {
					width: $wid;
					// left: $initPos;
				}
				li:nth-of-type(3) {
					left: 1vw;
					transition-delay: 0s;
				}
				li:nth-of-type(4) {
					left: $wid + 1vw;
					transition-delay: 0.1s;
				}
				li:nth-of-type(5) {
					left: ($wid * 2)+ 1vw;
					transition-delay: 0.2s;
				}
				li:nth-of-type(6) {
					left: ($wid * 3)+ 1vw;
					transition-delay: 0.3s;
				}
				li:nth-of-type(7) {
					left: ($wid * 4)+ 1vw;
					transition-delay: 0.4s;
				}
				li:nth-of-type(8) {
					left: ($wid * 5)+ 1vw;
					transition-delay: 0.5s;
				}
				// li:nth-of-type(3) {
				// 	left: calc($initPos + $wid * 0);
				// 	transition-delay: 0s;
				// }
				// li:nth-of-type(4) {
				// 	left: calc($initPos + $wid * 1);
				// 	transition-delay: 0.1s;
				// }
				// li:nth-of-type(5) {
				// 	left: calc($initPos + $wid * 2);
				// 	transition-delay: 0.2s;
				// }
				// li:nth-of-type(6) {
				// 	left: calc($initPos + $wid * 3);
				// 	transition-delay: 0.3s;
				// }
				// li:nth-of-type(7) {
				// 	left: calc($initPos + $wid * 4);
				// 	transition-delay: 0.4s;
				// }
				// li:nth-of-type(8) {
				// 	left: calc($initPos + $wid * 5);
				// 	transition-delay: 0.5s;
				// }
			}
		}
	}
}

@media screen and (max-width: 739px) {
	$wid: 50vw;
	$initPos: 45%;
	#visual {
		> .inner {
			.list {
				li {
					width: $wid;
					// left: $initPos;
				}
				li:nth-of-type(3) {
					left: 1vw;
					transition-delay: 0s;
				}
				li:nth-of-type(4) {
					left: $wid + 1vw;
					transition-delay: 0.1s;
				}
				li:nth-of-type(5) {
					left: ($wid * 2)+ 1vw;
					transition-delay: 0.2s;
				}
				li:nth-of-type(6) {
					left: ($wid * 3)+ 1vw;
					transition-delay: 0.3s;
				}
				li:nth-of-type(7) {
					left: ($wid * 4)+ 1vw;
					transition-delay: 0.4s;
				}
				li:nth-of-type(8) {
					left: ($wid * 5)+ 1vw;
					transition-delay: 0.5s;
				}
				// li:nth-of-type(3) {
				// 	left: calc($initPos + $wid * 0);
				// 	transition-delay: 0s;
				// }
				// li:nth-of-type(4) {
				// 	left: calc($initPos + $wid * 1);
				// 	transition-delay: 0.1s;
				// }
				// li:nth-of-type(5) {
				// 	left: calc($initPos + $wid * 2);
				// 	transition-delay: 0.2s;
				// }
				// li:nth-of-type(6) {
				// 	left: calc($initPos + $wid * 3);
				// 	transition-delay: 0.3s;
				// }
				// li:nth-of-type(7) {
				// 	left: calc($initPos + $wid * 4);
				// 	transition-delay: 0.4s;
				// }
				// li:nth-of-type(8) {
				// 	left: calc($initPos + $wid * 5);
				// 	transition-delay: 0.5s;
				// }
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	$wid: 95vw;
	$initPos: 3%;
	#visual {
		> .inner {
			.list {
				li {
					width: $wid;
					left: $initPos;
				}
				h2 {
					left: 10%;
				}
				li:nth-of-type(2) {
					.inner {
						h2 {
							top: 43%;
							padding-left: 5vw;
							font-size: 12vw;
							&::before {
								width: 20vw;
							}
						}
					}
				}
				li:nth-of-type(3) {
					left: 3vw;
					transition-delay: 0s;
				}
				li:nth-of-type(4) {
					left: $wid + 3vw;
					transition-delay: 0.1s;
				}
				li:nth-of-type(5) {
					left: ($wid * 2)+ 3vw;
					transition-delay: 0.2s;
				}
				li:nth-of-type(6) {
					left: ($wid * 3)+ 3vw;
					transition-delay: 0.3s;
				}
				li:nth-of-type(7) {
					left: ($wid * 4)+ 3vw;
					transition-delay: 0.4s;
				}
				li:nth-of-type(8) {
					left: ($wid * 5)+ 3vw;
					transition-delay: 0.5s;
				}
				// li:nth-of-type(3) {
				// 	left: calc($initPos + $wid * 1);
				// 	transition-delay: 0s;
				// }
				// li:nth-of-type(4) {
				// 	left: calc($initPos + $wid * 2);
				// 	transition-delay: 0.1s;
				// }
				// li:nth-of-type(5) {
				// 	left: calc($initPos + $wid * 3);
				// 	transition-delay: 0.2s;
				// }
				// li:nth-of-type(6) {
				// 	left: calc($initPos + $wid * 4);
				// 	transition-delay: 0.3s;
				// }
				// li:nth-of-type(7) {
				// 	left: calc($initPos + $wid * 5);
				// 	transition-delay: 0.4s;
				// }
				// li:nth-of-type(8) {
				// 	left: calc($initPos + $wid * 6);
				// 	transition-delay: 0.5s;
				// }
			}
			.navi {
				// left: 5%;
				// bottom: 34%;
				.prev,
				.next {
					width: 45px;
					height: 45px;
					&::before,
					&::after {
						width: 12px;
					}
					&::before {
						top: 47%;
						transform: rotate(45deg) translateX(0px);
					}
					&::after {
						bottom: 48%;
						transform: rotate(-45deg) translateX(0px);
					}
					span {
						width: 19px;
						top: 48%;
					}
				}
				.prev {
					&::before,
					&::after {
						left: 13px;
					}
					span {
						left: 13px;
					}
				}

				.next {
					&::before,
					&::after {
						right: 13px;
					}
					span {
						right: 13px;
					}
				}
			}
		}
	}
}

//버튼ani
@keyframes wrap {
	0% {
		transform: scale(1);
		border: 1px solid rgba(255, 255, 255, 1);
	}
	70% {
		transform: scale(2);
		border: 1px solid rgba(255, 255, 255, 0);
	}
	100% {
		transform: scale(1);
		border: 1px solid rgba(255, 255, 255, 0);
	}
}

@keyframes prevArrow {
	0% {
		left: 25px;
		width: 20px;
		opacity: 1;
	}
	70% {
		left: -30px;
		width: 50px;
		opacity: 0;
	}
	71% {
		left: 100%;
		width: 120px;
		opacity: 0;
	}
	100% {
		left: 25px;
		width: 20px;
		opacity: 1;
	}
}
@keyframes nextArrow {
	0% {
		right: 25px;
		width: 20px;
		opacity: 1;
	}
	70% {
		right: -30px;
		width: 50px;
		opacity: 0;
	}
	71% {
		right: 100%;
		width: 120px;
		opacity: 0;
	}
	100% {
		right: 25px;
		width: 20px;
		opacity: 1;
	}
}
