.Brand {
	.sub_con {
		> .inner {
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				width: calc(100% / 4);
				float: left;
				padding: 10px;
				margin-bottom: 50px;
				> .inner {
					width: 100%;
					.pic {
						width: 100%;
						height: 350px;
						background: #111;
						margin-bottom: 20px;
						transition: 0.5s;
						filter: saturate(0.2);
						&:hover {
							filter: saturate(1.1);
						}
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					h3 {
						font-size: 35px;
						text-align: center;
						font-family: $titleFont;
					}
					p {
						font-size: 25px;
						text-align: center;
						font-family: $contentFont;
					}
				}
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
	}
	// > .inner {

	// h1 {
	// 	display: none;
	// }
	// h2 {
	// 	color: #666;
	// 	span {
	// 		font-size: 50px;
	// 		color: #a06138;
	// 	}
	// }
	// p {
	// 	font-family: 'Montserrat';
	// 	font-size: 20px;
	// 	line-height: 1.5;
	// 	word-break: keep-all;
	// }
	// .mamber {
	// 	margin-top: 80px;
	// 	h2 {
	// 		padding-top: 0;
	// 		text-align: left;
	// 		opacity: 0.7;
	// 		font-size: 50px;
	// 		margin-bottom: 30px;
	// 		letter-spacing: 2px;
	// 	}
	// 	.member_wrap {
	// 		display: flex;
	// 		justify-content: space-between;
	// 		align-items: center;
	// 		article {
	// 			width: calc((100% - 90px) / 4);
	// 			margin-right: 30px;
	// 			height: 400px;
	// 			line-height: 400px;
	// 			text-align: center;
	// 			border: 1px solid salmon;
	// 		}
	// 	}
	// }
}

@media screen and (max-width: $tablet) {
	.Brand {
		.sub_con {
			> .inner {
				article {
					width: calc(100% / 2);
					padding: 10px;
					margin-bottom: 50px;
					> .inner {
						width: 100%;
						.pic {
							// height: 50vw;
							background: #111;
							margin-bottom: 20px;
							transition: 0.5s;
							filter: saturate(0.2);
							&:hover {
								filter: saturate(1.1);
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.Brand {
		.sub_con {
			> .inner {
				padding: 120px 30px;
				article {
					width: 100%;
					padding: 0;
					margin-bottom: 50px;
					> .inner {
						width: 100%;
						.pic {
							// height: 75vw;
						}
					}
				}
			}
		}
	}
}
