.Brand {
	.sub_con {
		> .inner {
			@include clear;
			h1 {
				display: none;
			}
			> h2 {
				color: #333;
				span {
					font-size: 50px;
					color: #a06138;
				}
				margin-bottom: 20px;
			}
			p {
				font-family: $krFont;
				font-size: 20px;
				line-height: 1.5;
				word-break: keep-all;
				color: #222;
			}
			.mamber {
				margin-top: 80px;
				> h2 {
					padding-top: 0;
					text-align: left;
					opacity: 0.7;
					font-size: 50px;
					margin-bottom: 30px;
					letter-spacing: 2px;
					color: #222;
				}
			}
			article {
				@include clear;
				width: calc((100% - 60px) / 4);
				float: left;
				margin-right: 20px;
				&:nth-of-type(4) {
					margin-right: 0;
				}
				> .inner {
					width: 100%;
					.pic {
						width: 100%;
						height: 350px;
						transition: 1s;
						filter: saturate(30%) brightness(80%);
						transition: 0.5s;
						&:hover {
							filter: saturate(100%) brightness(80%);
						}
						img {
							@include imgFit;
						}
					}
					.txt {
						position: absolute;
						bottom: 20px;
						left: 20px;
						letter-spacing: 1px;
						opacity: 0.8;
						h2 {
							font-size: 35px;
							font-family: $titleFont;
							line-height: 1.2;
							text-shadow: 2px 5px 12px rgb(0 0 0 / 90%);
							margin-bottom: 5px;
							color: #fff;
						}
						p {
							font-size: 15px;
							font-weight: 300;
							font-family: $contentFont;
							color: #fff;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Brand {
		.sub_con {
			> .inner {
				> h2 {
					span {
						font-size: 50px;
					}
					margin-bottom: 20px;
				}
				p {
					font-size: 20px;
				}
				.mamber {
					margin-top: 80px;
					> h2 {
						padding-top: 0;
					}
				}
				article {
					width: calc((100% - 30px) / 2);
					margin-right: 30px;
					margin-bottom: 30px;
					&:nth-of-type(2n) {
						margin-right: 0;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.Brand {
		.sub_con {
			> .inner {
				> h2 {
					text-align: center;
					font-size: 30px;
					span {
						font-size: 14vmin;
					}
					margin-bottom: 20px;
				}
				p {
					text-align: center;
					line-height: 1.7;
				}
				.mamber {
					margin-top: 80px;
					> h2 {
						padding-top: 0;
					}
				}
				article {
					width: 100%;
					margin-right: 0;
					margin-bottom: 30px;
				}
			}
		}
	}
}
