.CONTACT {
	// figure {
	// 	background: url('../../../public/sub/visual/contact.jpg') no-repeat center/cover;
	// }
	h1 {
		display: none;
	}

	.sub_con {
		@include clear;
		> .inner {
			@include innerWid;
			.title {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;
				h2 {
					font-size: 60px;
					font-family: $titleFont;
				}
				button {
					display: block;
					float: right;
					width: 18vw;
					height: 40px;
					background: $strongColor;
					font: bold 15px/1 $titleFont;
					color: #fff;
					border-radius: 5px;
					border: none;
					cursor: pointer;
					letter-spacing: 1px;
					// margin-bottom: 30px;
				}
			}
			#map {
				width: 100%;
				height: 500px;
				background: #111;
				border: 1px solid #333;
				margin-bottom: 30px;
				margin-top: 10px;
				filter: saturate(0);
				transition: filter 0.5s;
				&:hover {
					filter: saturate(1);
				}
			}
			nav {
				width: 100%;
				margin-bottom: 30px;
				.branch {
					display: flex;
					gap: 30px;
					li {
						position: relative;
						width: 30vw;
						height: 32px;
						font: bold 18px/1 $krFont;
						margin-top: 30px;
						color: #333;
						display: flex;
						flex-direction: column;
						align-content: flex-start;
						cursor: pointer;
						&::before {
							content: '';
							display: block;
							position: absolute;
							bottom: -5px;
							left: 0;
							width: 100%;
							height: 1px;
							background: #333;
							margin-bottom: 3px;
						}
						&.on {
							color: $strongColor;
							p,
							span {
								color: #333;
							}
							&::before {
								background: $strongColor;
							}
						}
						p {
							margin-top: 25px;
							margin-bottom: 5px;
							font: bold 14px/1.5 $krFont;
							margin-bottom: 10px;
							word-break: keep-all;
						}
						span {
							font: 12px/1 $krFont;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.CONTACT {
		.sub_con {
			> .inner {
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.CONTACT {
		.sub_con {
			> .inner {
				.title {
					flex-direction: column;
					align-items: flex-start;
					h2 {
						margin-bottom: 20px;
					}
					button {
						width: 100%;
					}
				}
				nav {
					.branch {
						flex-direction: column;
						li {
							width: 100%;
							margin-top: 50px;
							&:first-child {
								margin-top: 30px;
							}
							&.on {
								color: $strongColor;
							}
							&::before {
								content: none;
							}
							p {
								margin-top: 10px;
								margin-bottom: 5px;
							}
							span {
								position: relative;
								&::before {
									content: '';
									display: block;
									position: absolute;
									bottom: -15px;
									left: 0;
									width: 100%;
									height: 1px;
									background: #333;
									margin-bottom: 3px;
								}
							}
						}
					}
				}
			}
		}
	}
}
