.LOCATION {
	.sub_con {
		@include clear;
		> .inner {
			@include innerWid;

			.touch {
				display: flex;
				justify-content: space-between;
				margin-top: 100px;
				margin-bottom: 120px;
				border-bottom: 1px solid #aaa;
				padding-bottom: 50px;
				@include clear;
				.left {
					display: flex;
					flex-wrap: wrap;
					article {
						margin-bottom: 50px;
						width: calc((100% - 50px) / 2);
						&:nth-of-type(3),
						&:nth-of-type(4) {
							margin-bottom: 0;
						}
						h2 {
							font: 14px/1 $contentFont;
							padding: 20px 0 10px;
						}
						p {
							font: 12px/1 $contentFont;
							color: #888;
						}
					}
				}
				.right {
					position: relative;
					width: 70%;
					.title {
						h1 {
							font: bold 5vmin/1 $titleFont;
							margin-bottom: 30px;
						}
					}

					.input_box {
						input[type='submit'] {
							position: absolute;
							top: 0;
							right: 0;
							color: #fff;
							font: 14px/1 $titleFont;
							margin-top: 0;
							background: $basicColor1;
							width: 13vw;
							cursor: pointer;
							padding: 10px 15px;
						}
						.input_touch {
							display: flex;
							align-items: center;
							label {
								font: 14px/1 $contentFont;
							}
							.err {
								display: block;
								color: $basicColor1;
								font: 10px/1 $contentFont;
								margin: 10px 0 20px;
							}
							.input {
								width: 100%;
								margin-right: 30px;
								input {
									width: 100%;
									padding: 10px;
									border-bottom: 1px solid #ddd;
									background: transparent;
									&:last-child {
										margin-bottom: 0;
									}
								}
							}
						}
						.txtarea {
							width: 100%;
							textarea {
								&::placeholder {
									color: #bbb;
								}
								width: 100%;
								height: 100px;
								margin-top: 30px;
								resize: none;
								border: 1px solid #ddd;
								padding: 10px;
								background: #f8f8f8;
							}
						}
					}
				}
			}

			button {
				display: block;
				width: 13vw;
				height: 35px;
				border-bottom: 1px solid #888;
				background: transparent;
				// color: #fff;
				text-align: left;
				font: bold 16px/1 $titleFont;
				color: #333;
				// border: 1px solid $bgSub;
				cursor: pointer;
				letter-spacing: 1px;
				transition: 0.5s;
				&.on {
					color: $basicColor1;
				}
				// &:hover {
				// 	// background: $bgSub;
				// 	color: $basicColor1;
				// }
			}
		}
		#map {
			width: 100%;
			height: 500px;
			background: #111;
			border: 1px solid #333;
			margin-bottom: 30px;
			margin-top: 10px;
			filter: saturate(0);
			transition: filter 0.5s;
			&:hover {
				filter: saturate(1);
			}
		}
		nav {
			width: 100%;
			margin-bottom: 30px;
			.branch {
				display: flex;
				gap: 30px;
				font-family: $contentFont;
				li {
					position: relative;
					width: 30vw;
					font-size: 18px;
					font-weight: bold;
					margin-top: 30px;
					color: #333;
					display: flex;
					flex-direction: column;
					align-content: flex-start;
					cursor: pointer;
					&::before {
						content: '';
						display: block;
						position: absolute;
						top: 28px;
						left: 0;
						width: 100%;
						height: 1px;
						background: #333;
						margin-bottom: 3px;
					}
					&.on {
						color: $activeColor;
						p,
						span {
							color: #333;
						}
						&::before {
							background: $activeColor;
						}
					}
					p {
						margin-top: 25px;
						margin-bottom: 5px;
						font-size: 14px;
						line-height: 1.5;
						font-weight: bold;
						margin-bottom: 10px;
						word-break: keep-all;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.LOCATION {
		.sub_con {
			> .inner {
				width: 100%;
				.touch {
					.left {
						flex-direction: column;
						article {
							width: 100%;
							&:nth-of-type(3),
							&:nth-of-type(4) {
								margin-bottom: 50px;
							}
							p {
								font: 12px/1 $contentFont;
							}
						}
					}
					.right {
						width: 50%;
						height: 100%;
						.title {
							h1 {
								margin-bottom: 30px;
							}
						}

						.input_box {
							input[type='submit'] {
								position: absolute;
								top: 100%;
								right: 0;
								color: #fff;
								font: 14px/1 $titleFont;
								margin-top: 0;
								background: $basicColor1;
								width: 100%;
								cursor: pointer;
								padding: 10px 15px;
							}
							.input_touch {
								flex-direction: column;
								label {
									font: 14px/1 $contentFont;
								}
								.err {
									display: block;
									color: $basicColor1;
									font: 10px/1 $contentFont;
									margin: 10px 0 20px;
								}
								.input {
									width: 100%;
									margin-right: 0;
									input {
										width: 100%;
										padding: 10px;
										border-bottom: 1px solid #ddd;
										background: transparent;
										&:last-child {
											margin-bottom: 0;
										}
									}
								}
							}
							.txtarea {
								width: 100%;
								textarea {
									&::placeholder {
										color: #bbb;
									}
									width: 100%;
									height: 100px;
									margin-top: 30px;
									resize: none;
									border: 1px solid #ddd;
									padding: 10px;
									background: #f8f8f8;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.LOCATION {
		.sub_con {
			> .inner {
				.touch {
					margin-top: 30px;
					margin-bottom: 50px;
					flex-direction: column;
					.left {
						// display: none;
					}
					.right {
						width: 100%;

						.input_box {
							input[type='submit'] {
								top: 0;
								font: 12px/1 $titleFont;
								width: 20vw;
							}
						}
					}
				}
				button {
					display: block;
					width: 100%;
				}
			}
			nav {
				.branch {
					flex-direction: column;
					li {
						width: 100%;
						margin-top: 50px;
						&:first-child {
							margin-top: 30px;
						}
						&.on {
							color: $activeColor;
						}
						&::before {
							content: none;
						}
						p {
							margin-top: 10px;
							margin-bottom: 5px;
						}
						span {
							position: relative;
							&::before {
								content: '';
								display: block;
								position: absolute;
								bottom: -15px;
								left: 0;
								width: 100%;
								height: 1px;
								background: #333;
								margin-bottom: 3px;
							}
						}
					}
				}
			}
		}
	}
	// }
}
