.MEMBERS {
	// figure {
	// 	background: url('../../../public/sub/visual/mypage.jpg') no-repeat top/cover;
	// }
	.sub_con {
		> .inner {
			@include clear;
			h1 {
				width: 43%;
				margin: 0 auto 70px;
			}
			form {
				display: flex;
				width: 80%;
				margin: 0 auto;
				table {
					width: 100%;
					border: none;
					th {
						width: 20%;
						border: none;
						padding: 15px 30px;
						text-align: right;
						font-family: $titleFont;
						&:last-child {
							input[type='submit'],
							input[type='reset'] {
								border: none;
								font-size: 18px;
								width: 30%;
								height: 45px;
								display: inline-flex;
								justify-content: center;
								align-items: center;
								margin: 0 10px;
								font-family: $titleFont;
								background: #445870;
								cursor: pointer;
								transition: background 0.5s;
								color: #fff;
								// &:hover {
								// 	color: #fff;
								// 	background: #fa8072;
								// }
							}
						}
					}
					td {
						padding: 15px 30px;
						label {
							font-family: $contentFont;
						}
						input::placeholder {
							font-size: 13px;
						}
						input[type='checkbox'],
						input[type='radio'] {
							accent-color: #eec1c1;
							vertical-align: middle;
							border: none;
							outline: none;
						}
						textarea,
						select {
							border: none;
						}
						select {
							// appearance: none;
							// background: url('../../../public/img/arrow.png') no-repeat 96% 50%;
							// width: 100%;
							// height: 100%;
							// background-size: 10px 7px;
						}

						input[type='text'],
						input[type='password'],
						textarea,
						select {
							width: 100%;
							border: 1px solid #333;
							padding: 10px;
							resize: none;
							// font-family: $krFont;
							background: transparent;
							// background: #e2e2e2;
							&:focus {
								background: #effaff;
							}
						}
						input[id='email'],
						select[name='mail'] {
							width: 49%;
							margin-right: 10px;
						}
						select[name='mail'] {
							margin-right: 0;
						}
						span.err {
							width: 100%;
							display: block;
							// font: 12px/1 $krFont;
							color: #fd6c6c;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.MEMBERS {
		.sub_con {
			> .inner {
				form {
					width: 90%;
					table {
						td {
							input::placeholder {
								font-size: 12px;
								// font-family: $krFont;
							}
							input[type='text'],
							input[type='password'],
							textarea,
							select {
								width: 100%;
							}
							input[id='email'],
							select[name='mail'] {
								width: 100%;
								margin-right: 10px;
							}
							select[name='mail'] {
								margin-right: 0;
								margin-top: 10px;
							}
							span.err {
								// font: 12px/1 $krFont;
								color: rgb(245, 63, 100);
								margin-left: 20px;
								display: block;
								margin-top: 10px;
								margin-left: 0;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.MEMBERS {
		.sub_con {
			> .inner {
				h1 {
					text-align: center;
					width: 100%;
					margin: 0 auto 30px;
				}
				form {
					width: 100%;
					table {
						th {
							display: none;
							&:last-child {
								display: flex;
								width: 100%;
								justify-content: space-between;
								input[type='submit'],
								input[type='reset'] {
									display: inline-block;
									width: 48%;
								}
							}
						}
						td {
							border-left: none;
							input[type='text'],
							input[type='password'],
							textarea,
							select {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
