.MEMBERS {
	.sub_con {
		> .inner {
			@include clear;
			h1 {
				width: 43%;
				margin: 0 auto 70px;
			}
			.mypage {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				.aside {
					h3 {
						color: $bgSub;
						font-size: 20px;
						line-height: 1.3;
						font-family: $titleFont;
						margin-bottom: 10px;
					}

					p {
						margin: 0 0 30px;
						font: normal 12px/1.2 $contentFont;
					}
					.sns {
						span {
							display: inline-block;
							width: 25px;
							height: 25px;
							line-height: 25px;
							margin-right: 10px;
							background: $bgSub;
							text-align: center;
							.svg-inline--fa {
								font-size: 12px;
								cursor: pointer;
								color: #fff;
							}
						}
					}
				}
				form {
					display: flex;
					width: 80%;
					margin: 0 auto;
					table {
						width: 100%;
						border: none;
						th {
							width: 20%;
							border: none;
							padding: 15px 30px;
							text-align: right;
							font-family: $titleFont;
							&:last-child {
								input[type='submit'],
								input[type='reset'] {
									border: none;
									font-size: 18px;
									width: 30%;
									height: 45px;
									display: inline-flex;
									justify-content: center;
									align-items: center;
									margin: 0 10px;
									font-family: $titleFont;
									background: $bgSub;
									cursor: pointer;
									transition: background 0.5s;
									color: #fff;
								}
							}
						}
						td {
							padding: 10px 30px;
							label {
								font-family: $contentFont;
							}
							input::placeholder {
								font-size: 13px;
								font-family: $contentFont;
							}
							input[type='checkbox'],
							input[type='radio'] {
								accent-color: #eec1c1;
								vertical-align: middle;
								border: none;
								outline: none;
								border-radius: 0;
							}
							textarea,
							select {
								border: none;
							}

							input[type='text'],
							input[type='password'],
							textarea,
							select {
								width: 100%;
								border: 1px solid #333;
								padding: 10px;
								resize: none;
								background: transparent;
							}
							input[id='email'],
							select[name='mail'] {
								width: 49%;
								margin-right: 13px;
							}
							select[name='mail'] {
								margin-right: 0;
								background: url('../../../public/img/arrow.png') no-repeat 96% 50%;
								height: 100%;
								background-size: 10px 7px;
							}
							select {
								background: url('../../../public/img/arrow.png') no-repeat 98% 50%;
								width: 100%;
								height: 100%;
								background-size: 10px 7px;
								color: #333;
							}
							span.err {
								width: 100%;
								display: block;
								font-size: 12px;
								color: $basicColor1;
								margin-top: 10px;
								font-family: $contentFont;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.MEMBERS {
		.sub_con {
			> .inner {
				.mypage {
					flex-direction: column;
					.aside {
						margin-bottom: 30px;
						h3 {
							color: $bgSub;
							font-size: 20px;
							line-height: 1.3;
							font-family: $titleFont;
							margin-bottom: 10px;
						}

						p {
							margin: 0 0 30px;
							font: normal 12px/1.2 $contentFont;
						}
					}
					form {
						width: 100%;
						table {
							label {
								font-size: 14px;
							}
							th {
								&:last-child {
									input[type='submit'],
									input[type='reset'] {
										font-size: 15px;
									}
								}
							}
							td {
								input::placeholder {
									font-size: 12px;
								}

								input[type='text'],
								input[type='password'],
								textarea,
								select {
									font-size: 12px;
								}
								input[id='email'],
								select[name='mail'] {
									width: 100%;
									margin-bottom: 10px;
									margin-right: 0;
								}
								select[name='mail'] {
									margin-right: 0;
								}
								span.err {
									font-size: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.MEMBERS {
		.sub_con {
			> .inner {
				h1 {
					text-align: center;
					width: 100%;
					margin: 0;
					text-align: left;
				}
				.mypage {
					.aside {
						h3 {
							font-size: 16px;
						}

						p {
							margin: 0 0 10px;
							font: normal 10px/1.2 $contentFont;
						}
					}
					form {
						table {
							label {
								font-size: 14px;
							}
							th {
								display: none;
								padding: 15px 0;
								&:last-child {
									display: flex;
									width: 100%;
									justify-content: space-between;
									input[type='submit'],
									input[type='reset'] {
										display: inline-block;
										width: 48%;
										margin: 0;
									}
								}
							}
							td {
								padding: 10px 0;
								input[type='text'],
								input[type='password'],
								textarea,
								select {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}
