.NOTICE {
	.sub_con {
		> .inner {
			.wrap {
				display: flex;
				align-items: baseline;
				justify-content: space-between;
				margin-bottom: 100px;
				border-bottom: 1px solid #888;
				.notice_title {
					width: 50%;

					h2 {
						font: normal 14px/1.5 $contentFont;
					}
				}
				.notice_box {
					width: 38%;
					.inputBox {
						width: 100%;
						padding: 0 0 30px;
						.txt_box {
							width: 100%;
							input[type='text'],
							textarea {
								width: 100%;
								padding: 8px 10px;
								border-bottom: 1px solid #aaa;
								resize: none;
								margin-bottom: 10px;
								background: transparent;
							}
							textarea {
								height: 80px;
								margin-bottom: 0;
							}
						}
						.btnSet {
							display: flex;
							justify-content: flex-end;
							button {
								width: 7vw;
								height: 25px;
								background: $basicColor1;
								font: 11px/1 $titleFont;
								display: inline-block;
								border: none;
								margin-right: 20px;
								color: #fff;
								cursor: pointer;
								&:last-child {
									margin-right: 0;
								}
							}
						}
					}
				}
			}

			.showBox {
				display: flex;
				justify-content: space-between;
				width: 100%;
				> p {
					width: 100%;
					font: bold 24px/1 $titleFont;
					letter-spacing: 1px;
				}
				.txt_box {
					display: flex;
					flex-wrap: wrap;
					article {
						width: calc((100% - 30px) / 2);
						margin-right: 30px;
						margin-bottom: 40px;
						align-items: end;
						padding-bottom: 15px;
						&:nth-of-type(2n) {
							margin-right: 0;
						}

						.txt {
							display: flex;
							flex-direction: column;
							width: 100%;
							height: 100%;
							margin-bottom: 10px;
							span {
								display: flex;
								align-items: center;
								justify-content: center;
								width: 30px;
								height: 30px;
								margin-bottom: 10px;
								line-height: 20px;
								border-radius: 50%;
								background: $bgSub;
								color: #fff;
								font: 14px/1 $StrongFont;
							}
							h2 {
								border-top: 1px solid #ddd;
								padding-top: 10px;
								font: bold 18px/1 $titleFont;
								margin-bottom: 15px;
								margin-top: 20px;
								color: $bgSub;
								display: flex;
								align-items: center;
								justify-content: space-between;
								// svg {
								// 	font-size: 25px;
								// 	color: $activeColor;
								// }
							}
							p {
								font: 15px/1.5 $contentFont;
								word-break: keep-all;
							}
							input,
							textarea {
								width: 100%;
								padding: 8px 10px;
								border: 1px solid $bgSub;
								resize: none;
								background: #eaf0f7;
							}
							textarea {
								margin-bottom: 0;
							}
						}
						.btnSet {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							gap: 20px;
							button {
								border: none;
								font: 12px/1 $contentFont;
								background: transparent;
								cursor: pointer;
								font-weight: 500;
								&:nth-of-type(1) {
									color: #333;
								}
								&:nth-of-type(2) {
									color: $basicColor1;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.NOTICE {
		.sub_con {
			> .inner {
				.wrap {
					flex-direction: column;
					border: none;
					.notice_title {
						width: 100%;
						margin-bottom: 50px;
					}
					.notice_box {
						width: 100%;
						.inputBox {
							.btnSet {
								button {
									width: 15vw;
								}
							}
						}
					}
				}

				.showBox {
					.txt_box {
						flex-direction: column;
						article {
							width: 100%;
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.NOTICE {
		.sub_con {
			> .inner {
				.wrap {
					.notice_title {
						width: 100%;
						margin-bottom: 50px;
					}
					.notice_box {
						width: 100%;
						.inputBox {
							.btnSet {
								button {
									width: 50%;
								}
							}
						}
					}
				}
				// .inputBox {
				// 	flex-direction: column;
				// 	padding: 0;
				// 	border: none;
				// 	.btnSet {
				// 		justify-content: space-between;
				// 		button {
				// 			width: 200px;
				// 			&:last-child {
				// 				margin-right: 0;
				// 			}
				// 		}
				// 	}
				// }
				.showBox {
					flex-direction: column;
					.txt_box {
						margin-top: 50px;
						article {
							width: 100%;
							margin-right: 0;
							margin-bottom: 30px;
							.txt {
								margin-bottom: 30px;
							}
						}
					}
				}
			}
		}
	}
}
