.YOUTUBE {
	.sub_con {
		> .inner {
			@include clear;
			article {
				width: 100%;
				float: left;
				border-top: 1px solid #666;
				padding: 20px 0;
				display: flex;
				justify-content: space-between;
				@include clear;
				&:nth-of-type(even) {
					flex-direction: row-reverse;
					.main_txt {
						margin-right: 0;
						margin-left: 70px;
					}
				}
				.main_txt {
					width: 60%;
					margin-right: 70px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					h3 {
						margin-bottom: 50px;
						font: bold 30px/1.3 $youtubeTxt;
						word-break: keep-all;
						margin-bottom: 7px;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
					.sub_txt {
						span {
							font: bold 16px/1 $contentFont;
							padding: 20px 0 0;
							color: #333;
							display: block;
						}
						.txt {
							width: 100%;
							float: left;
							margin-top: 15px;
							color: #333;

							p {
								font: 15px/1.5 $contentFont;
								margin-bottom: 20px;
								word-break: keep-all;
							}
						}
					}
				}

				.pic {
					width: 68%;
					height: 250px;
					float: left;
					cursor: pointer;
					transition: filter 1s;
					filter: saturate(30%) brightness(80%);
					img {
						@include imgFit;
					}
					&:hover {
						filter: saturate(100%) brightness(100%);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.YOUTUBE {
		.sub_con {
			> .inner {
				width: 100%;
				article {
					.main_txt {
						h3 {
							font: bold 20px/1.3 $titleFont;

							-webkit-line-clamp: 1;
						}
						.sub_txt {
							span {
								font: bold 13px/1 $contentFont;
							}
							.txt {
								p {
									font: 12px/1.5 $contentFont;

									overflow: hidden;
									text-overflow: ellipsis;
									display: -webkit-box;
									-webkit-line-clamp: 3;
									-webkit-box-orient: vertical;
								}
							}
						}
					}
					.pic {
						height: 200px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	.YOUTUBE {
		.sub_con {
			> .inner {
				article {
					flex-direction: column;
					&:nth-of-type(even) {
						flex-direction: column;
						.main_txt {
							margin-right: 0;
							margin-left: 0;
						}
					}
					.main_txt {
						width: 100%;
						h3 {
							font: bold 16px/1.3 $titleFont;

							-webkit-line-clamp: 1;
						}
						.sub_txt {
							span {
								font: bold 12px/1 $contentFont;
							}
							.txt {
								p {
									font: 10px/1.5 $contentFont;
								}
							}
						}
					}
					.pic {
						width: 100%;
						height: 200px;
					}
				}
			}
		}
	}
}
