.Youtube {
	.sub_con {
		> .inner {
			article {
				width: 100%;
				float: left;
				margin-right: 20px;
				// margin-bottom: 30px;
				border-top: 1px solid #666;
				padding: 20px 10px;
				display: flex;
				align-items: center;
				// flex-wrap: wrap;
				justify-content: space-between;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				.pic {
					width: 45%;
					height: 100%;
					float: left;
					margin-right: 50px;
					// margin-bottom: 30px;
					cursor: pointer;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.txt {
					width: 45%;
					float: left;
					// display: flex;
					// flex-wrap: wrap;
					// align-content: space-between;
					// border: 1px solid #666;
					// background: beige;
					// padding: 20px;
					h3 {
						// width: 25%;
						margin-bottom: 50px;
						font-weight: bold;
						font-size: 35px;
						font-family: $krFont;
						margin-bottom: 50px;
						color: #666;

						overflow: hidden;
						text-overflow: ellipsis;

						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
					p {
						font: 20px/1.5 $krFont;
						color: #666;
						margin-bottom: 70px;
					}
					span {
						display: block;
						font: bold 16px/1 $contentFont;
						color: $strongColor;
						text-align: right;
					}
				}
			}
			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}
	}
}
// .Youtube {
// 	.sub_con {
// 		> .inner {
// 			article {
// 				width: calc((100% - 20px) / 2);
// 				float: left;
// 				margin-right: 20px;
// 				margin-bottom: 30px;
// 				border-top: 1px solid #666;
// 				padding: 20px 0;
// 				display: flex;
// 				flex-wrap: wrap;
// 				justify-content: space-between;
// 				&:nth-of-type(2n) {
// 					margin-right: 0;
// 				}
// 				.pic {
// 					width: 35%;
// 					height: 100%;
// 					margin-bottom: 30px;
// 					cursor: pointer;
// 					img {
// 						width: 100%;
// 						height: 100%;
// 						object-fit: cover;
// 					}
// 				}
// 				.txt {
// 					width: 38%;
// 					display: flex;
// 					flex-wrap: wrap;
// 					align-content: space-between;
// 					border: 1px solid #666;
// 					// background: beige;
// 					padding: 20px;
// 					h3 {
// 						width: 25%;
// 						font-weight: bold;
// 						font-size: 28px;
// 						font-family: $krFont;
// 						margin-bottom: 20px;
// 						color: #666;

// 						overflow: hidden;
// 						text-overflow: ellipsis;

// 						display: -webkit-box;
// 						-webkit-line-clamp: 1;
// 						-webkit-box-orient: vertical;
// 					}
// 					p {
// 						font: 16px/1.5 $krFont;
// 						color: #666;
// 						margin-bottom: 25px;
// 					}
// 					span {
// 						display: block;
// 						font: bold 14px/1 $contentFont;
// 						color: $strongColor;
// 						text-align: right;
// 					}
// 				}
// 			}
// 			&::after {
// 				content: '';
// 				display: block;
// 				clear: both;
// 			}
// 		}
// 	}
// }

@media screen and (max-width: $tablet) {
	.Youtube {
		.sub_con {
			> .inner {
				article {
					.txt {
						h3 {
							// width: 25%;
							margin-bottom: 50px;
							font-size: 3vmin;
							margin-bottom: 30px;

							-webkit-line-clamp: 1;
						}
						p {
							font: 2vmin/1.5 $krFont;
							margin-bottom: 40px;

							overflow: hidden;
							text-overflow: ellipsis;

							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}
						span {
							font: bold 2vmin/1 $contentFont;
						}
					}
				}
			}
		}
	}
	// .Youtube {
	// 	.sub_con {
	// 		> .inner {
	// 			article {
	// 				.txt {
	// 					p {
	// 						overflow: hidden;
	// 						text-overflow: ellipsis;

	// 						display: -webkit-box;
	// 						-webkit-line-clamp: 2;
	// 						-webkit-box-orient: vertical;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	// .Youtube {
	// 	.sub_con {
	// 		.inner {
	// 			article {
	// 				h3 {
	// 					width: 48%;
	// 				}
	// 				.txt {
	// 					width: 50%;
	// 				}
	// 				.pic {
	// 					width: 100%;
	// 					margin-bottom: 50px;
	// 					margin-top: 80px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
@media screen and (max-width: $mobile) {
	.Youtube {
		.sub_con {
			> .inner {
				padding: 120px 30px;
				article {
					width: 100%;
					display: block;
					.pic {
						width: 100%;
						// margin-bottom: 20px;
					}
					.txt {
						width: 100%;
						padding: 10px;
						border: 1px solid #666;
						h3 {
							// width: 25%;
							margin-bottom: 50px;
							font-size: 5vmin;
							margin-bottom: 30px;

							-webkit-line-clamp: 1;
						}
						p {
							font: 3vmin/1.5 $krFont;
							margin-bottom: 40px;

							overflow: hidden;
							text-overflow: ellipsis;

							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}
						span {
							font: bold 3vmin/1 $contentFont;
						}
					}
				}
			}
		}
	}
	// .Youtube {
	// 	.sub_con {
	// 		> .inner {
	// 			padding: 120px 30px;
	// 			article {
	// 				width: 100%;
	// 			}
	// 		}
	// 	}
	// }
	// .Youtube {
	// 	.sub_con {
	// 		.inner {
	// 			article {
	// 				h3 {
	// 					width: 100%;
	// 				}
	// 				.txt {
	// 					width: 100%;
	// 				}
	// 				.pic {
	// 					margin-bottom: 30px;
	// 					margin-top: 40px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
