.Youtube {
	.sub_con {
		> .inner {
			@include clear;
			article {
				width: 100%;
				float: left;
				margin-right: 20px;
				border-top: 1px solid #666;
				padding: 30px 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include clear;
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				&:last-child {
					border-bottom: 1px solid #666;
				}
				.pic {
					width: 45%;
					height: 100%;
					float: left;
					margin-right: 50px;
					cursor: pointer;
					img {
						@include imgFit;
					}
				}
				.txt {
					width: 45%;
					float: left;
					color: #333;
					h3 {
						margin-bottom: 50px;
						font-weight: bold;
						font-size: 35px;
						font-family: $krFont;
						margin-bottom: 50px;
						overflow: hidden;
						text-overflow: ellipsis;

						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
					p {
						font: 20px/1.5 $krFont;
						margin-bottom: 70px;
					}
					span {
						display: block;
						font: bold 16px/1 $contentFont;
						color: $strongColor;
						text-align: right;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Youtube {
		.sub_con {
			> .inner {
				article {
					border: none;
					border-top: 1px solid #666;
					.txt {
						h3 {
							margin-bottom: 50px;
							font-size: 3vmin;
							margin-bottom: 30px;

							-webkit-line-clamp: 1;
						}
						p {
							font: 2vmin/1.5 $krFont;
							margin-bottom: 40px;

							overflow: hidden;
							text-overflow: ellipsis;

							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}
						span {
							font: bold 14px/1 $contentFont;
						}
					}
				}
			}
		}
	}
	// .Youtube {
	// 	.sub_con {
	// 		> .inner {
	// 			article {
	// 				.txt {
	// 					p {
	// 						overflow: hidden;
	// 						text-overflow: ellipsis;

	// 						display: -webkit-box;
	// 						-webkit-line-clamp: 2;
	// 						-webkit-box-orient: vertical;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	// .Youtube {
	// 	.sub_con {
	// 		.inner {
	// 			article {
	// 				h3 {
	// 					width: 48%;
	// 				}
	// 				.txt {
	// 					width: 50%;
	// 				}
	// 				.pic {
	// 					width: 100%;
	// 					margin-bottom: 50px;
	// 					margin-top: 80px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
@media screen and (max-width: $mobile) {
	.Youtube {
		.sub_con {
			> .inner {
				article {
					width: 100%;
					padding: 0 0 50px;
					display: block;
					&:last-child {
						border: none;
					}
					.pic {
						width: 100%;
					}
					.txt {
						width: 100%;
						padding: 20px;
						border: 1px solid #666;
						h3 {
							font-size: 5vmin;
						}
						p {
							font: 3vmin/1.5 $krFont;
						}
						span {
							font: bold 3vmin/1 $contentFont;
						}
					}
				}
			}
		}
	}
	// .Youtube {
	// 	.sub_con {
	// 		> .inner {
	// 			padding: 120px 30px;
	// 			article {
	// 				width: 100%;
	// 			}
	// 		}
	// 	}
	// }
	// .Youtube {
	// 	.sub_con {
	// 		.inner {
	// 			article {
	// 				h3 {
	// 					width: 100%;
	// 				}
	// 				.txt {
	// 					width: 100%;
	// 				}
	// 				.pic {
	// 					margin-bottom: 30px;
	// 					margin-top: 40px;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
